@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
   
}
.outer-box{
    width: 100vw;
    height: 100vh;
    
    background-image: url(Picture2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translatey(-50%);
    
    backdrop-filter: blur(5px);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 40px #000000;
    z-index: 2;
}
.login-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.login-header p{
    font-size: 0.9rem;
    color: #555;
}
.login-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.login-body p label{
    display: block;
    font-weight: bold;

}
.login-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.login-body p input[type="submit"]{
    background-color: #a776e87e;
    border: none;
    color: white;
    cursor: pointer;
}
.login-body p input[type="submit"]:hover{
    background-color: #9237cf6d;
}
.login-footer p{
    color: #555;
    text-align: center;
}
.login-footer p a{
    color: #a776e8;
    text-decoration: none;


}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right, #ffffff00,#e3bfff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}
.name{
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    color: rgba(0, 0, 0, 0.524);
    width: 230px;
    height: 30px;
    text-align: center;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    bottom: 20px;
    right: 7px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #212121;
}
.login-body p input[type="text"]{
    background-color: #ffffff00;
    
}
.login-body p input[type="password"]{
    background-color: #ffffff00;
    
}